@media (min-width: 992px) {
    .desktop-only {
	display:block !important;
    }
}

@media (max-width: 991px) {
    .mobile-only {
	display:block !important;
	background-color: lightblue;
    }
    .desktop-only {
	dislay:none !important;
    }
}
