#desktop-only {display: block;}
#mobile-only {display: none;}

@media screen and (max-width: 991px) {

#desktop-only {display: none;}
#mobile-only {display: block;}
}

  .up{
    button:focus {outline:0;}
    display: block;
    width:36%;
    font-size: 60px;
    margin-top:5%;
    margin-right:32%;
    margin-left:32%;
    touch-action: manipulation;
    -webkit-touch-callout: none;
   }
  .left{
    button:focus {outline:0;}
    display:inline-block;
    float:left;
    width:27%;
    font-size:60px;
    margin:15px;
    touch-action: manipulation;
    -webkit-touch-callout: none;
  }
  .right{
    button:focus {outline:0;}
    display:inline-block;
    float:right;
    width:27%;
    font-size:60px;
    margin:15px;
    touch-action: manipulation;
    -webkit-touch-callout: none;
  }
  .down{
    button:focus {outline:0;}
    display: inline-block;
    float;
    width:27%;
    font-size: 60px;
    margin: 15px 30% 5% 36%;
    touch-action: manipulation;
    -webkit-touch-callout: none;
  }

.reset{
  border-radius: 15%;
}
.debug{
  border-radius: 15%;
}
.reset:hover {background-color: #C0C0C0}
.reset:active {
  background-color: #C0C0C0;
  box-shadow: 0 1px #666;
  transform: translateY(1px);
}
.debug:hover {background-color: #C0C0C0}
.debug:active {
  background-color: #C0C0C0;
  box-shadow: 0 1px #666;
  transform: translateY(1px);
}
h1 {
  font-size: 14px;
  display: inline-block;
}
